{% extends 'Template.html.twig' %}

{% block title %}Hello RoleController!{% endblock %}

{% block body %}


<div class="example-wrapper">


          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Gestion Role</h3>
            </div>
             <div class="card-header">
            <a href="{{ path('role/add')}}">Ajouter</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Nom</th>
                  
                  <th>Date de creation</th>
                  <th>Etat</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>     {%for role in roles %}
                <tr>
           
                  <td>{{role.rolenom}}</td>
                 
                  <td>{{role.roledatecreation|date('d/m/y')}}</td>
                  <td> {{role.roleetat}}</td>
                  <td><a href="{{ path('role/showrole',{'id':role.id})}}"class="btn btn-primary">Modifier</a></td>
                
                </tr>
                 {% endfor %}
             
                </tbody>
                <tfoot>
                <tr>
                   <th>Nom</th>
                  
                  <th>Date De naissance</th>
                  <th>Etat</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>

        
</div>
{% endblock %}

