{% extends 'Template.html.twig' %}

{% block title %}Hello UserCotrUController!{% endblock %}
{% form_theme formarticle 'bootstrap_4_layout.html.twig' %}
{% block body %}

 <!-- Input addon -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title"> {%if  editMode %} Modifier Article{% else %} Ajouter Article{% endif %}</h3>
              </div>
           
              {{form_start(formarticle)}}
              
              <div class="card-body">
                
                 <h4>Nom</h4>

                <div class="input-group">
                 {{form_widget(formarticle.nom)}}
                 
                </div>
                 <h4>Type</h4>

                <div class="input-group">
                 {{form_widget(formarticle.type)}}
                 
                </div>
                <h4>Detail</h4>

                <div class="input-group">
                 {{form_widget(formarticle.detail)}}
                 
                </div>
                <h4>Quantite</h4>
                <div class="input-group">
                 {{form_widget(formarticle.quantite)}}                  
                </div> 
                 <h4>Prix</h4>

                <div class="input-group">
                 {{form_widget(formarticle.prix)}}
                 
                </div>
                <h4>Prix TTC</h4>

                <div class="input-group">
                 {{form_widget(formarticle.prix_ttc)}}
                  
                </div> 
                   <br>
                <h4>Fournisseur</h4>

                <div class="input-group">
                 {{form_widget(formarticle.fournisseur)}}
                  
                </div>   <br>
                  <div class="input-group">
                  {%if  editMode %}  <button type="submit" class="btn btn-success">Modifier</button>
                  {% else %}  
                  <button type="submit" class="btn btn-success">Ajouter</button>
                  {% endif %}
             
    
            </div>
{{form_end(formarticle)}}
             
            </div>
{% endblock %}
